@model IEnumerable<Professional>
@{
    ViewData["Title"] = "Professional";
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.NumberKey)</th>
        <th>@Html.DisplayNameFor(model => model.Speciality)</th>
        <th>Acciones</th>
    </tr>
    <tbody>
        @foreach (Professional professional in @Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => professional.Name) </td>
                <td> @Html.DisplayFor(modelItem => professional.NumberKey)  </td>
                <td> @Html.DisplayFor(modelItem => professional.Speciality)  </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@professional.Id" class="btn btn-dark">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@professional.Id" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Profesional</a>
</div>
